behaviors:
    Agent:
        trainer_type: ppo
        hyperparameters:
            batch_size: 1000
            buffer_size: 10000
        network_settings:
            hidden_units: 200
            num_layers: 2
#            memory:
#                memory_size: 128
        reward_signals:
            extrinsic:
                gamma: 0.99
#            curiosity:
#                strength: 0.1
        self_play:
            play_against_latest_model_ratio: 0.2
            window: 20
        time_horizon: 300
        max_steps: 1e6
        threaded: true
        summary_freq: 10000
        #checkpoint_interval: 40000
        keep_checkpoints: 100
        #framework: tensorflow
engine_settings:
  width: 640
  height: 360